<!DOCTYPE html>
<html>
<head>
    <title>Home | Casino Royale</title>
    <!-- Responsive meta tag -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
    <link rel="stylesheet" href="https://use.typekit.net/jtt3zfd.css">
    <link rel="stylesheet" href="/static/css/dist.css">
</head>
<body>

<div class="flex flex-col items-center justify-center h-screen bg-gradient-to-br from-gray-900 to-blue-950">
    <!-- Navbar -->
    <div id="nav" class="flex flex-row items-center justify-between w-full px-4 py-4 absolute top-0">
        <div class="flex flex-row items-center justify-center">
            {% if user %}
                <a href="/"><p class="px-4 py-2 text-lg font-bold text-white hover:text-blue-500 duration-300">Welcome, {{ user }}</p></a>
            {% else %}
                <a href="/"><p class="px-4 py-2 text-lg font-bold text-white hover:text-blue-500 duration-300">Casino Royale</p></a>
            {% endif %}
        </div>
        <div class="flex flex-row items-center justify-center">
            {% if user %}
                <a href="/logout" class="bg-white hover:bg-blue-500 text-black font-bold py-2 px-4 rounded duration-300 ease-in-out">Logout</a>
            {% else %}
                <a href="/login" class="ml-2 bg-white hover:bg-blue-500 text-black font-bold py-2 px-4 rounded duration-300 ease-in-out">Login</a>
                <a href="/register" class="ml-2 bg-white hover:bg-blue-500 text-black font-bold py-2 px-4 rounded duration-300 ease-in-out">Register</a>
            {% endif %}
        </div>
    </div>

    <!-- Begin main page content -->
    <div class="flex flex-col items-center justify-center w-full px-4 py-4">
        <div class="flex flex-col items-center justify-center w-full px-4 py-4">
            <h1 class="text-4xl font-bold text-white mb-2">About Casino Royale</h1>
            <h2 class="text-2xl text-white max-w-4xl">
                In the heart of a small college town, where dreams were big but wallets were empty, four ambitious students found themselves in a constant struggle to make ends meet. Living off a steady diet of cup noodles and cheap coffee, they yearned for a way to break free from the shackles of financial burden.

One fateful day, as fate would have it, one of these students stumbled upon a man on the street, his tattered clothes barely concealing the spark of resilience in his eyes. The man, humbly requesting a mere 25 cents, ignited curiosity within the student's soul. Little did he know, this seemingly insignificant encounter would forever change their lives.

Days later, destiny intervened once more, as the student crossed paths with the same man. Only now, he stood before him transformed, a symbol of wealth and prosperity. The student's jaw dropped in awe as he learned the truth—the man had taken that meager 25 cents and gambled it on a wild bet, the Boston Celtics emerging victorious, and turning his paltry sum into a staggering $50,000.

Overwhelmed by the magnitude of this revelation, the student dashed back to his humble abode, eager to share the astonishing news with his roommates. As the words spilled from his lips, a spark of inspiration ignited within the hearts of these like-minded comrades. They realized the immense potential lying dormant within their fingertips—a way to harness the unpredictable nature of sports and turn it into a life-altering opportunity.

For five arduous years, fueled by passion and relentless determination, these four visionary students delved headlong into the world of sports betting. Their audacious gambles paid off, propelling them to unprecedented heights as they amassed a fortune that surpassed the wildest of imaginations—over $500 billion.

But their hearts yearned for more than mere wealth. They wanted to share the transformative power of their journey, to offer others a chance to rewrite their own stories. And so, they embarked on a groundbreaking endeavor—creating a revolutionary website that would democratize the world of betting, allowing anyone with a dream to seize the opportunity to change their lives forever.

Their website became a gateway to dreams, a virtual haven where individuals from all walks of life could harness the magic of chance. From blue-collar workers yearning for a taste of the extraordinary to aspiring entrepreneurs seeking their breakthrough, the platform provided a level playing field where fortunes could be won and destinies rewritten.

Through their unwavering belief in the power of a single coin and their indomitable spirit, these once-broke college students transformed into true pioneers, champions of change. Their journey, from the depths of financial despair to the dazzling summits of untold wealth, stands as a testament to the enduring strength of the human spirit and the boundless possibilities that lie within us all.
                <a href="https://github.com/Sebastiancompsci/casinoroyale/blob/c3c3af63a59274d3aafbe4e659f9361a8264aae4/design.pdf" class="font-bold">design doc</a> for more info, because we can't really fit it into a single text block.</h2>
        </div>
    </div>
</div>
</body>
</html>
