<!-- Login page -->

<!DOCTYPE html>
<html>
<head>
    <title>Login | Casino Royale</title>
    <!-- Responsive meta tag -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
    <link rel="stylesheet" href="https://use.typekit.net/jtt3zfd.css">
    <link rel="stylesheet" href="/static/css/dist.css">
</head>
<body>
<!-- Login page body. No styling, we are leaving it bare for now. -->
<div class="login-page">
    <!-- Background is a dark gradient with slight transition between gray and dark blue -->
    <div class="flex flex-col items-center justify-center h-screen bg-gradient-to-br from-gray-900 to-blue-950">
        <form class="login-form" action="login" method="post">
            <p class="text-center w-full">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                     stroke="currentColor" class="w-24 h-24 text-blue-500 mx-0 inline-block mb-8">
                    <path stroke-linecap="round" stroke-linejoin="round"
                          d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15m3 0l3-3m0 0l-3-3m3 3H9"/>
                </svg>
            </p>

            <h1 class="text-4xl font-bold text-white mb-4 block">Login</h1>
            <label for="username" class="text-bold text-white mb-2 block mb-2">Username</label>
            <input type="text" name="username" placeholder="username"
                   class="block w-80 border-2 border-white hover:border-blue-500 focus:border-blue-500 focus:outline-none rounded-md px-4 py-2 mb-4 duration-300 ease-in-out bg-transparent bg-none text-white focus:text-blue-500 hover:text-blue-500"/>
            <label for="password" class="text-bold text-white mb-2 block mb-2">Password</label>
            <input type="password" name="password" placeholder="password"
                   class="block w-80 border-2 border-white hover:border-blue-500 focus:border-blue-500 focus:outline-none rounded-md px-4 py-2 mb-4 duration-300 ease-in-out bg-transparent bg-none text-white focus:text-blue-500 hover:text-blue-500"/>
            <button type="submit" name="login"
                    class="block w-80 bg-white hover:bg-blue-500 text-black font-bold py-2 px-4 rounded duration-300 ease-in-out">
                Login
            </button>
            <!-- Span for errors -->
            <span class="text-red-500 mt-4 block">
						{{ error }}
					</span>
            <p class="text-white block mb-4 mt-4">Not registered? <a href="register" class="font-bold">Create an
                account</a></p>
        </form>
    </div>
</div>
</body>
</html>
