<!-- Login page -->

<!DOCTYPE html>
<html>
	<head>
		<title>Login | Casino Royale</title>
		<!-- Responsive meta tag -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<!-- Login page body. No styling, we are leaving it bare for now. -->
		<div class="login-page">
			<div class="form">
				<form class="login-form" action="login.php" method="post">
					<input type="text" name="username" placeholder="username"/>
					<input type="password" name="password" placeholder="password"/>
					<button type="submit" name="login">login</button>
					<p class="message">Not registered? <a href="register.php">Create an account</a></p>
				</form>
			</div>
		</div>
	</body>
</html>
