<!-- Register page -->

<!DOCTYPE html>
<html>
	<head>
		<title>Register | Casino Royale</title>
		<!-- Responsive meta tag -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<!-- Login page body. No styling, we are leaving it bare for now. -->
		<div class="login-page">
			<div class="form">
				<form class="login-form" action="register" method="post">
					<label for="username">Username</label>
					<input type="text" name="username" placeholder="username" required/>
					<label for="password">Password</label>
					<input type="password" name="password" placeholder="password" required/>
					<button type="submit">Register</button>
					<!-- A span for errors -->
					<span>
						{{error}}
					</span>
					<p class="message">Already registered? <a href="login">Sign In</a></p>
				</form>
			</div>
		</div>
	</body>
</html>
