<!-- Login page -->

<!DOCTYPE html>
<html>
<head>
    <title>Register | Casino Royale</title>
    <!-- Responsive meta tag -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
    <link rel="stylesheet" href="https://use.typekit.net/jtt3zfd.css">
    <link rel="stylesheet" href="/static/css/dist.css">
</head>
<body>
<div class="register-page">
    <div class="flex flex-col items-center justify-center h-screen bg-gradient-to-br from-gray-900 to-blue-950">
        <form action="register" method="post">
            <p class="text-center w-full">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                     stroke="currentColor" class="w-24 h-24 text-blue-500 mx-0 inline-block mb-8">
                    <path stroke-linecap="round" stroke-linejoin="round"
                          d="M8.25 21v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21m0 0h4.5V3.545M12.75 21h7.5V10.75M2.25 21h1.5m18 0h-18M2.25 9l4.5-1.636M18.75 3l-1.5.545m0 6.205l3 1m1.5.5l-1.5-.5M6.75 7.364V3h-3v18m3-13.636l10.5-3.819"/>
                </svg>

            </p>

            <h1 class="text-4xl font-bold text-white mb-4 block">Register</h1>
           <label for="username" class="text-bold text-white mb-2 block mb-2">Username</label>
            <input type="text" name="username" placeholder="username"
                   class="block w-80 border-2 border-white hover:border-blue-500 focus:border-blue-500 focus:outline-none rounded-md px-4 py-2 mb-4 duration-300 ease-in-out bg-transparent bg-none text-white focus:text-blue-500 hover:text-blue-500"/>
            <label for="password" class="text-bold text-white mb-2 block mb-2">Password</label>
            <input type="password" name="password" placeholder="password"
                   class="block w-80 border-2 border-white hover:border-blue-500 focus:border-blue-500 focus:outline-none rounded-md px-4 py-2 mb-4 duration-300 ease-in-out bg-transparent bg-none text-white focus:text-blue-500 hover:text-blue-500"/>
            <button type="submit" name="register"
                    class="block w-80 bg-white hover:bg-blue-500 text-black font-bold py-2 px-4 rounded duration-300 ease-in-out">
                Register
            </button>
            <!-- Span for errors -->
            <span class="text-red-500 mt-4 block">
						{{ error }}
					</span>
            <p class="text-white block mb-4 mt-4">Already registered? <a href="login" class="font-bold">Sign in</a></p>
        </form>
    </div>
</div>
</body>
</html>
