<!DOCTYPE html>
<html>
<head>
    <title>Teams | Casino Royale</title>
    <!-- Responsive meta tag -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
    <link rel="stylesheet" href="https://use.typekit.net/jtt3zfd.css">
    <link rel="stylesheet" href="/static/css/dist.css">
</head>
<body>
<!-- Teams page body. No styling, we are leaving it bare for now. -->
<div class="top-0 absolute w-full min-h-screen bg-gradient-to-br from-gray-900 to-blue-950">
    <!-- Navbar -->
    <div id="nav" class="flex flex-row items-center justify-between w-full px-4 py-4 absolute top-0">
        <div class="flex flex-row items-center justify-center">
            {% if user %}
                <a href="/"><p class="px-4 py-2 text-lg font-bold text-white hover:text-blue-500 duration-300">
                    Welcome, {{ user }}</p></a>
            {% else %}
                <a href="/"><p class="px-4 py-2 text-lg font-bold text-white hover:text-blue-500 duration-300">Casino
                    Royale</p></a>
            {% endif %}
        </div>
        <div class="flex flex-row items-center justify-center">
            {% if user %}
                <a href="/logout"
                   class="bg-white hover:bg-blue-500 text-black font-bold py-2 px-4 rounded duration-300 ease-in-out">Logout</a>
            {% else %}
                <a href="/login"
                   class="ml-2 bg-white hover:bg-blue-500 text-black font-bold py-2 px-4 rounded duration-300 ease-in-out">Login</a>
                <a href="/register"
                   class="ml-2 bg-white hover:bg-blue-500 text-black font-bold py-2 px-4 rounded duration-300 ease-in-out">Register</a>
            {% endif %}
        </div>
    </div>

    <div class="flex flex-col items-center justify-center w-full px-4 py-4 mt-16">
        <div class="flex flex-col items-center justify-center w-full px-4 py-4">
            <p class="text-center w-full">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                     stroke="currentColor" class="w-24 h-24 text-blue-500 mx-0 inline-block mb-8">
                    <path stroke-linecap="round" stroke-linejoin="round"
                          d="M18 18.72a9.094 9.094 0 003.741-.479 3 3 0 00-4.682-2.72m.94 3.198l.001.031c0 .225-.012.447-.037.666A11.944 11.944 0 0112 21c-2.17 0-4.207-.576-5.963-1.584A6.062 6.062 0 016 18.719m12 0a5.971 5.971 0 00-.941-3.197m0 0A5.995 5.995 0 0012 12.75a5.995 5.995 0 00-5.058 2.772m0 0a3 3 0 00-4.681 2.72 8.986 8.986 0 003.74.477m.94-3.197a5.971 5.971 0 00-.94 3.197M15 6.75a3 3 0 11-6 0 3 3 0 016 0zm6 3a2.25 2.25 0 11-4.5 0 2.25 2.25 0 014.5 0zm-13.5 0a2.25 2.25 0 11-4.5 0 2.25 2.25 0 014.5 0z"/>
                </svg>

            </p>
            <h1 class="text-4xl font-bold text-white mb-2">Teams on Casino Royale</h1>
            <h2 class="text-2xl text-white">Choose teams you want to follow, and make your Casino Royale experience your
                own.</h2>
            <div id="teamsContainer" class="w-full max-w-6xl">
                <h2 class="text-2xl text-white mt-8 mb-4">Loading, please wait...</h2>
            </div>
        </div>
    </div>
</div>
</div>
<!-- Core JS -->
<script src="/static/js/core/notify.js"></script>
<!-- API JS -->
<script src="/static/js/api/teams.js"></script>
<!-- UI JS -->
<script src="/static/js/ui/teams.js"></script>
<!-- Page JS -->
<script src="/static/js/page/teams.js"></script>
<script>
</script>
</body>
</html>
